<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./app.component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="wrapper">
      <section>
        <h1>Quam Tristique Condimentum</h1>
        <p>
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. <span class="red-highlight">Curabitur blandit</span> tempus porttitor.
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          Vestibulum id ligula porta felis euismod semper.
        </p>

        <div class="left-side">
          <div class="list-thing">
            <h2>Fringilla Euismod Adipiscing Ipsum</h2>

            <p>
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Maecenas faucibus mollis interdum. Aenean
              lacinia bibendum nulla sed.
            </p>

            <ul class="list-container">
              <li>Tellus Ullamcorper Inceptos</li>
              <li>Magna Condimentum
                <ul >
                  <li class="second">Mattis Tristique</li>
                  <li class="second">Pharetra Pellentesque Dapibus</li>
                </ul>
              </li>
              <li>Aenean Inceptos</li>
              <li>Parturient Bibendum</li>
            </ul>
          </div>

          <img src="../assets/img/Image.png" alt="Frame placed on stacked books" />
        </div>
      </section>
      
      <app-compensation-calculator></app-compensation-calculator>
      
    </div>
    </main>
  </body>
</html>
